%flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin: 0;
    padding: 0;
}

%card-morphism {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3), 
                inset -10px -10px 30px rgba(0,0,0,0.3);
}