@import '_variables.module.scss';

.post {
    padding: 1rem 5rem;
    @extend %flex-box;
    flex-direction: column;
    gap: 0.5rem;
}

.backBTN {
    @extend %card-morphism;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

.categories {
    color: $Secondary;
    list-style: none;
    font-size: 1rem;
}

.author {
    font-size: 1.2rem;
    color: $Secondary;
}

.authorImageWrapper {
    padding: 1rem 0;
}

.authorImage {
    border-radius: 20px;
}

.body {

    @extend %card-morphism;
    padding: 3rem;
    border-radius: 1rem;

    & h1,h2 {
        padding: 0.5rem 0;
    }

    & h3 {
        padding: 0.2rem 0;
    }
}

